.container {
  display: flex;
  flex-direction: column;
  padding: 100px 30px;
  background-color: var(--color-bg);
  color: var(--color-text);
}

.content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.link {
  margin-left: 10px;
  text-decoration: underline;
}

.caption {
  margin-left: 10px;
}

.projectCenter {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin: 0 auto;
  margin-bottom: 20px;
  text-align: center;
}

.card {
  display: flex;
  align-items: center;
}

.link {
  font-size: 14px;
}

.erpLink {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.projectContentContainer {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: flex-start;
  font-size: var(--font-lg);
}

.projectTitle {
  margin-right: auto;
}
.albumContainer {
  margin-top: 20px;
  /* margin: 0 auto; */
  /* width: fit-content; */
  font-size: var(--font-sm);
  text-align: left;
}

/* Small devices (sm) */
@media (max-width: 740px) {
}

/* Medium devices (md) */
@media (min-width: 701px) and (max-width: 960px) {
}
