.horizontal {
  display: flex;
}

.title {
  margin-bottom: 10px;
  font-size: var(--font-2xl);
  font-weight: 800;
}

.subTitle {
  font-size: 24px;
  font-weight: 8;
}

.description {
  font-size: 20px;
}
