.container {
  position: relative;
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid var(--color-border);
}

.container.dark {
  background-color: var(--color-bg-dark);
}

.children.dark {
  color: var(--color-text-light);
}

.children {
  z-index: 1;
}

.canvas {
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 0;
}
