.container {
  display: flex;
  flex-direction: column;
  padding: 39px 0 100px 0;
}

.top {
  display: flex;
  gap: 10px;
  margin: 0 auto;
  width: fit-content;
}

.left {
  display: flex;
  align-items: flex-start;
  justify-self: flex-end;
}

.right {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}

.rightContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: fit-content;
}

.avatarContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 304px;
  height: 354px;
  border-radius: 50%;
  overflow: hidden;
}

.avatar {
  object-fit: cover;
  object-position: center;
  transform: scale(0.73);
}

.skills {
  margin-top: 15px;
  gap: 10px;
}

.cardContainer {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.company {
  font-size: var(--font-lg);
  margin-bottom: 4px;
}

.paddingTop {
  padding-top: 14px;
}

.date {
  margin-left: 10px;
  font-size: var(--font-sm);
  color: var(--color-primary-light);
}

.card {
  display: flex;
  align-items: flex-start;
  gap: 10px;
  margin-bottom: 10px;
}

/* Small devices (sm) */
@media (max-width: 740px) {
  .avatarContainer {
    display: none;
  }
  .top {
    flex-direction: column;
  }
}

/* Medium devices (md) */
@media (min-width: 741px) and (max-width: 960px) {
}
