.container {
  position: relative;
  padding: 0 50px;
  width: 50%;
}

.even {
  left: 0%;
  border-right: 1px solid var(--color-primary);
}

.odd {
  left: calc(50% - 1px);
  border-left: 1px solid var(--color-primary);
}

.content {
  padding: 6px;
  border: 1px solid var(--color-primary);
  border-radius: 4px;
}

.content::before {
  content: '';
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 4rem;
  height: 2px;
  background-color: var(--color-primary);
}
